.flash-box
.wrapper
  = render 'groups/side-bar'

  .chat-main
    .main-header
      .main-header__left-box
        .main-header__left-box__group-name
          = @group.name
        .main-header__left-box__member
          member:
          - @group.users.each do|user|
            = user.name
      = link_to edit_group_path(params[:group_id]), class: "edit-link" do
        .main-header__edit
          Edit


    .messages
      = render @messages
      -# .messages__top-box
      -#   .messages__top-box__name
      -#     ゆーへい
      -#   .messages__top-box__date
      -#     2019/9/2
      -# .messages__text-box
      -#   .messages__text-box__text
      -#     ソロソロ疲れてきた

    -# .form
    -#   %form.new_message{action: "#",  method: "post"}
    -#     .input-box
    -#       %input.message_content.input-box__text{placeholder: "type a message", type: "text"}
    -#       %label.input-box__image
    -#         %i.fa.fa-image
    -#         %input.message_image.input-box__image__file{type: "file"}
    -#     %input.submit-btn{type: "submit", value: "Send"}

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'message_content input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'fa fa-image'
            = f.file_field :image, class: 'message_image input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'